name: another_imin_printer
description: Imin plugin for flutter
version: 0.3.0
homepage: https://github.com/fuadreza/imin_printer

environment:
  sdk: '>=2.18.2 <3.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  plugin:
    platforms:
      android:
        package: io.github.fuadreza.imin_printer
        pluginClass: IminPrinterPlugin
